:root {
  --bloodHeight: 2000px;
  --negBloodHeight: -3900px;
  --bloodPicIntrinsicHeight: 1500px;
  --redBlockIntrinsicHeight: 500px;

  --dropTime: 40s;
}

#blood-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;

  /* animation-name: drop;
  animation-duration: var(--dropTime);
  animation-fill-mode: forwards;
  animation-timing-function: ;
  animation-iteration-count: infinite;
  animation-delay: var(--dropDelay); */
}

.animate {
  animation:
  drop var(--dropTime) cubic-bezier(0.66, 0.01, 1, 1) forwards,
  fadeToBlack 55s ease-in forwards;
}



#red-block {
  top: 0vh;
  height: 100vh;
  width: 100%;
}

#blood-pic {
  border: none;
  width: 120vw;
  height: var(--bloodHeight);
  margin-left: -5%;
  margin-top: -20px;
}

#help-me {
  background-color: #850B22;
  color: black;
  font-size: 50px;
  margin: 0;
  text-align: center;
}

@keyframes drop {
  0% { top: var(--negBloodHeight) }
  100% { top: 0% }
}

@keyframes fadeToBlack {
  0%, 80% { opacity: 1 }
  100% { opacity: 0 }
}


