#death-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: fade 7s infinite ease-in-out forwards 7s;
  margin: auto;
}

#jump-wrapper {
  animation: jumpAtMeBro 3s infinite cubic-bezier(0.77, 0.26, 0.2, 1) forwards;
  margin: auto;
}

#wiggle-wrapper {
  animation: wiggle 3s infinite linear;
  margin: auto;
}

#death-pic {
  margin: auto -50px auto auto;
}

@keyframes jumpAtMeBro {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2.3);
  }
}

@keyframes fade {
  0%, 23%, 30%, 50%, 100% { opacity: 0 }
  3%, 26%, 44%, 75% { opacity: 1 }
}

@keyframes wiggle {
    0%, 10%, 22% { transform: rotate(11deg); }
   5%, 15%, 33% { transform: rotate(-14deg); }
   55%, 79%, 90%, 100% { transform: rotate(22deg); }
  65%, 85%, 95% { transform: rotate(-30deg); }
}


